@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mooli&family=Roboto+Condensed:wght@300&family=Slabo+27px&display=swap");

body {
	background-color: black;
}

.container{
	display: flex;
	justify-content: center;
	width: 99%;
	height: 99%;
}

.scores{
	display: flex;
	color: red;
	font-size: 75px;
	text-align: center;
	text-shadow: 0 0 10px #fff, 
	0 0 20px #fff, 
	0 0 30px #f51d28, 
	0 0 40px #f51d28, 
	0 0 50px #f51d28, 
	0 0 60px #f51d28, 
	0 0 70px #f51d28;
}

.scoreboard{
	font-size: 22px;
	border: 2px solid white;
	height: 125px;
	width: 50%;
	float: right;
	background-color: #f0cd07;
}

.playerScoreDiv{
	border: 2px solid red;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
}

.playerScoreDiv p{
	display: inline;
	text-align: right;
}

.playerHeading{
	width: 15%;
	height: 100%;
	font-size: 12px;
}

.playerScore{
	width: 50%;
	margin-top: auto;
	float: right;
}

.computerScoreDiv{
	border: 2px solid red;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
	margin-top: 15px;
}

.computerScoreDiv p{
	display: inline;
	text-align: right;
}

.computerHeading{
	width: 15%;
	height: 100%;
	font-size: 12px;
}

.computerScore{
	width: 50%;
	margin-top: auto;
	float: right;
}

.gameBoard{
	margin: 5px auto;
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);
}

td{
	height: 150px;
	width: 150px;
	font-size: 115px;
	font-weight: lighter;
	text-align: center;
	cursor: pointer;
	color: red;
}

.lr{
	border-left: 4px solid red;
	border-right: 4px solid red;
}

.tb{
	border-top: 4px solid red;
	border-bottom: 4px solid red;
}

.restartBtn{
	height: 50px;
	width: 300px;
	border-radius: 15px;
	border: 3px solid red;
	margin-top: 750px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	display: none;
	color: black;
	background-color: #f0cd07;
	font-size: 20px;
}
